.about,
.about * {
  box-sizing: border-box;
}
.about {
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.vector {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.hillary-nguyen {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: absolute;
  right: 81.46%;
  left: 5.56%;
  width: 12.99%;
  bottom: 91.99%;
  top: 4.98%;
  height: 3.03%;
}
.home {
  color: #f5f7f4;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  right: 27.01%;
  left: 69.44%;
  width: 3.54%;
  bottom: 92.09%;
  top: 5.76%;
  height: 2.15%;
}
.about2 {
  color: #a8ff35;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  right: 18.75%;
  left: 77.43%;
  width: 3.82%;
  bottom: 92.09%;
  top: 5.76%;
  height: 2.15%;
}
.contact {
  color: #f5f7f4;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  right: 9.86%;
  left: 85.42%;
  width: 4.72%;
  bottom: 92.09%;
  top: 5.76%;
  height: 2.15%;
}
.vector2 {
  width: 88.89%;
  height: 0%;
  position: absolute;
  right: 5.56%;
  left: 5.56%;
  bottom: 89.06%;
  top: 10.94%;
  overflow: visible;
}
.about-the-course {
  color: #a8ff35;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 82.99%;
  left: 5.56%;
  width: 11.46%;
  bottom: 78.61%;
  top: 19.53%;
  height: 1.86%;
}
.bmgt-407-information {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  right: 38.61%;
  left: 5.56%;
  width: 55.83%;
  bottom: 67.48%;
  top: 25.39%;
  height: 7.13%;
}
.systems-projects {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  right: 50.83%;
  left: 5.56%;
  width: 43.61%;
  bottom: 59.96%;
  top: 32.91%;
  height: 7.13%;
}
.the-capstone-course-for-information-systems-majors {
  color: #f5f7f4;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: 50.56%;
  left: 5.56%;
  width: 43.89%;
  bottom: 52.34%;
  top: 44.73%;
  height: 2.93%;
}
.apply-your-knowledge-to-develop-real-world-is-solutions-for-business-clients {
  color: #f5f7f4;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 23px;
  font-weight: 400;
  position: absolute;
  right: 36.53%;
  left: 5.56%;
  width: 57.92%;
  bottom: 47.56%;
  top: 49.71%;
  height: 2.73%;
}
.design-and-implement-functional-prototypes-through-the-complete-is-development {
  color: #f5f7f4;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 23px;
  font-weight: 400;
  position: absolute;
  right: 32.15%;
  left: 5.56%;
  width: 62.29%;
  bottom: 43.55%;
  top: 53.71%;
  height: 2.73%;
}
.process-building-practical-skills-for-careers-in-technology-and-consulting {
  color: #f5f7f4;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 23px;
  font-weight: 400;
  position: absolute;
  right: 39.31%;
  left: 5.56%;
  width: 55.14%;
  bottom: 39.55%;
  top: 57.71%;
  height: 2.73%;
}
.vector3 {
  width: 26.39%;
  height: 16.6%;
  position: absolute;
  right: 68.06%;
  left: 5.56%;
  bottom: 14.55%;
  top: 68.85%;
  overflow: visible;
}
.vector4 {
  width: 26.39%;
  height: 16.6%;
  position: absolute;
  right: 40.28%;
  left: 33.33%;
  bottom: 14.55%;
  top: 68.85%;
  overflow: visible;
}
.vector5 {
  width: 33.33%;
  height: 16.6%;
  position: absolute;
  right: 5.56%;
  left: 61.11%;
  bottom: 14.55%;
  top: 68.85%;
  overflow: visible;
}
.semester {
  color: #a8ff35;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  right: 86.74%;
  left: 7.64%;
  width: 5.63%;
  bottom: 26.46%;
  top: 71.78%;
  height: 1.76%;
}
.spring-2027 {
  color: #f5f7f4;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  right: 81.18%;
  left: 7.64%;
  width: 11.18%;
  bottom: 21%;
  top: 75.68%;
  height: 3.32%;
}
.professor {
  color: #a8ff35;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  right: 58.26%;
  left: 35.42%;
  width: 6.32%;
  bottom: 26.46%;
  top: 71.78%;
  height: 1.76%;
}
.paul-t-shapiro {
  color: #f5f7f4;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  right: 50.83%;
  left: 35.42%;
  width: 13.75%;
  bottom: 21%;
  top: 75.68%;
  height: 3.32%;
}
.teaching-assistants {
  color: #a8ff35;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  right: 24.44%;
  left: 63.19%;
  width: 12.36%;
  bottom: 26.46%;
  top: 71.78%;
  height: 1.76%;
}
.bharath-sreekumar-caifu-lin {
  color: #f5f7f4;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  right: 15.28%;
  left: 63.19%;
  width: 21.53%;
  bottom: 22.07%;
  top: 75.29%;
  height: 2.64%;
}
.sumanth-devara {
  color: #f5f7f4;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  right: 24.86%;
  left: 63.19%;
  width: 11.94%;
  bottom: 18.55%;
  top: 78.81%;
  height: 2.64%;
}
.vector6 {
  width: 88.89%;
  height: 0%;
  position: absolute;
  right: 5.56%;
  left: 5.56%;
  bottom: 8.4%;
  top: 91.6%;
  overflow: visible;
}
.hillary-nguyen-client-side-development {
  color: #f5f7f4;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  right: 74.31%;
  left: 5.56%;
  width: 20.14%;
  bottom: 3.81%;
  top: 94.43%;
  height: 1.76%;
}
.figma-html-css {
  color: #f5f7f4;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  right: 10.63%;
  left: 78.47%;
  width: 10.9%;
  bottom: 3.81%;
  top: 94.43%;
  height: 1.76%;
}
